langchain
langchain-openai
langchain_community
openai
loguru
chromadb
pysqlite3-binary
unstructured
faiss-cpu
tiktoken
pypdf
docx2txt
transformers 
sentence-transformers
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
